.megamenu-link {
    &.link-active {
        color: $gold;
    }
}

.mega-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    background-color: #fff;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transform: scaleY(0) translateX(-50%);
    -webkit-transform: scaleY(0) translateX(-50%);
    -moz-transform: scaleY(0) translateX(-50%);
    -ms-transform: scaleY(0) translateX(-50%);
    -o-transform: scaleY(0) translateX(-50%);
    @include transition(all 0.5s ease-in-out);

    &.open {
        transform: scaleY(1) translateX(-50%);
        -webkit-transform: scaleY(1) translateX(-50%);
        -moz-transform: scaleY(1) translateX(-50%);
        -ms-transform: scaleY(1) translateX(-50%);
        -o-transform: scaleY(1) translateX(-50%);
        opacity: 1;
        visibility: visible;
    }
}

.mega-ul {
    display: flex;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 65px;
    flex-wrap: wrap;
}

.mega-li {
    margin-left: 16px;
    margin-bottom: 16px;
    width: calc(100% / 6 - 13.5px);

    #{$ltr} & {
        margin-left: 0;
        margin-right: 16px;
    }

    &:nth-of-type(6n) {
        margin-left: 0;

        #{$ltr} & {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.mega-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $text;
    font-size: 16px;
    text-transform: capitalize;
    @include transition(all 0.3s ease-in-out);

    img {
        @include transition(all 0.3s ease-in-out);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        margin-bottom: 10px;
    }

    &:hover {
        color: $hover;

        img {
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
        }
    }
}