.mo-navbar {
    display: flex;
    align-items: center;
}

.nav-li {
    margin-left: 18px;

    // line-height: 109px;
    #{$ltr} & {
        margin-left: 0;
        margin-right: 18px;
    }

    &:last-of-type {
        margin-left: 0;

        #{$ltr} & {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.nav-anchor {
    font-size: 16px;
    color: #fff;
    @include transition(all 0.3s ease-in-out);
    text-transform: capitalize;

    &:hover {
        color: $gold;
    }
}