@font-face {
    font-family: 'tajwal';
    src: url('../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF');
}

@font-face {
    font-family: 'xlight';
    src: url('../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF');
}

@font-face {
    font-family: 'med';
    src: url('../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/TAJAWAL/TAJAWAL-BOLD.TTF');
}

@font-face {
    font-family: 'xbold';
    src: url('../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF');
}

@font-face {
    font-family: 'black';
    src: url('../fonts/TAJAWAL/TAJAWAL-BLACK.TTF');
}